<div class="tooltip-info step-edit">
	<p class="edit-tip">Click or hover over any text field to edit your facility information</p>
	<p class="add-new-tip">Click the <span class="icon-helper"></span>icon to add new vacancy</p>
	<p class="delete-tip">Click the<span class="icon-helper"></span>icon to delete a vacancy</p>
	<p class="save-tip">Click the <span class="icon-helper"></span>icon when you're done editing</p>
	<button class="submit-btn" id="next-to"> Next </button>
	<div class="arrow-down"></div>
</div>

<div class="overlay"></div>